
<!-- Swipe Instructions Start -->

<div id="swipe-instruction">
  <div>
    <p><br><br><br></p>
    <i id="hand-swipe" class="fa fa-hand-o-up"></i>
    <p><strong>
    {% if page.section-type == "blog" %}
      Puedes deslizar sobre la pantalla para navegar.
    {% elsif page.section-type == "post" %}
      Puedes deslizar sobre la pantalla para navegar. 
    {% endif %}
    </strong></p>
    <button type="button" class="btn btn-default ok-btn close-swipe-instruction">
      {% if page.section-type == "blog" %}
        Intentalo!
      {% elsif page.section-type == "post" %}
        Bien!
      {% endif %}
    </button>
  </div>
</div>

<!-- Swipe Instructions End -->
